# Masterkey must be at least 32 characters.
ZITADEL_MASTERKEY=0123456789abcdef0123456789abcdef

# Host port ZITADEL is exposed on.
ZITADEL_PORT=8082

# First instance admin user (logs into https://localhost:8080/ui/console)
ZITADEL_FIRSTINSTANCE_ORG_NAME=Zitadel
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_USERNAME=zitadel-admin
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_PASSWORD=Password1!
