{{define "content"}}
<div id="login">
  <h2>Login</h2>
  <form action="">
    <div>
      <label>
        Email:
        <input type="email" required />
      </label>
    </div>

    <div>
      <label>
        Password:
        <input type="password" required />
      </label>
    </div>

    <div class="login-actions">
      <button type="submit">Login</button>
    </div>
  </form>

  <p>Don't have account? <a href="/register">Register</a> now</p>
</div>

<style>
  #login {
    max-width: 25vw;
    margin: auto;
  }

  #login label {
    display: block;
    margin-bottom: 0.75rem;
  }

  #login input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0.25rem;
  }

  .login-actions {
    text-align: right;
  }
</style>

{{end}}
