{{define "content"}}
<div id="register">
  <h2>Register</h2>
  <form
    hx-post="/htmx/register"
    hx-target="#register"
    hx-swap="innerHTML"
    hx-status:422="target:#register-errors swap:innerHTML"
    hx-indicator="#register-spinner"
    hx-disable="#register input, #register button"
  >
    <div>
      <label>
        Email:
        <input type="email" name="email" required />
      </label>
    </div>

    <div>
      <label>
        Password:
        <input type="password" name="password" required />
      </label>
    </div>

    <div>
      <label>
        Repeat Password:
        <input type="password" name="repeat-password" required />
      </label>
    </div>

    <div id="register-errors"></div>

    <div class="register-actions">
      <span id="register-spinner" class="htmx-indicator">…</span>
      <button type="submit">Submit</button>
    </div>
  </form>

  <p>Already have account? <a href="/login">Login</a> now</p>
</div>

<style>
  #register {
    max-width: 35vw;
    margin: auto;
  }

  #register label {
    display: block;
    margin-bottom: 0.75rem;
  }

  #register input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0.25rem;
  }

  .register-actions {
    text-align: right;
  }

  form.htmx-request input,
  form.htmx-request button {
    opacity: 0.6;
  }
</style>

{{end}}
