package layout

type AppData struct {
	PageTitle string
}

templ App(data AppData, content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ data.PageTitle }</title>
			<link href="/assets/css/output.css" rel="stylesheet"/>
			<script defer src="/assets/js/htmx.min.js"></script>
			<script defer src="/assets/js/alpine.min.js"></script>
		</head>
		<body>
			<header class=""></header>
			<main class="">
				@content
			</main>
			<footer class=""></footer>
		</body>
	</html>
}
