package components

templ Footer() {
	<footer class="footer footer-center bg-base-200 text-base-content border-base-300 border-t p-6">
		<aside>
			<p class="text-base-content/70 font-mono text-sm">
				Built with <a href="https://go.dev" class="link link-hover text-[#3fb950]" target="_blank">Go</a>
				&amp; <a href="https://htmx.org" class="link link-hover text-[#3fb950]" target="_blank">HTMX</a>
				&mdash; <span class="text-base-content/50">&copy; 2026</span>
			</p>
		</aside>
	</footer>
}
